<!-- root.html.erb -->

<% if login? %>
<script type="text/javascript">
  window.currentUser = <%= render(
    "api/users/user.json.jbuilder",
    user: current_user
  ).html_safe %>
  </script>
<% end %>
<main id="root"><marquee>REACT NOT WORKING    REACT NOT WORKING   REACT NOT WORKING</marquee></main>


