$white: #ffffff;
$mainblue: #2F73D8;
$softerblue: #8CB2E9;
$softgrey: #f8f8f8;
$border: #ececec;
$selectedborder: #c4c4c4;
$softergrey: #878787;
$greytext: #A8AFB7;
$darkgrey: #2F3135;
$black: #000000;