$white: #ffffff;
$mainblue: #2F73D8;
$softerblue: #8CB2E9;
$softgrey: #F2F2F2;
$border: #ececec;
$selectedborder: #c4c4c4;
$softergrey: #878787;
$greytext: #A6A6A6;
$darkgrey: #404040;
$black: #000000;
$navbar: #1A1A1A;