$white: #ffffff;
$mainblue: #2f73d8;
$softerblue: #8cb2e9;
$softgrey: #f2f2f2;
$border: #ececec;
$selectedborder: #c4c4c4;
$softergrey: #878787;
$greytext: #a6a6a6;
$darkgrey: #404040;
$black: #000000;
$navbar: #1a1a1a;
