.note-form-wrapper{
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.form-title {
  display: table-row;
  width: 100%;
  font-size: 40pt;
  border-bottom: 1px solid $border;
}
.note-form {
  height: 100%;
  width: 100%;
  display: table;
}
.body-wrapper {
  display: table-row;
  height: 100%;
}

.form-body {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  resize: none;
}