.note-form-wrapper{
  box-sizing: border-box;
  padding: 20px;
}
.note-form {
  display: table;
  height: 100%;
  width: 100%;
}
.form-title {
  display: table-row;
  width: 100%;
  padding: 10px;
  font-size: 28pt;
  font-weight: 300;
}

.form-body {
  display: table-row;
  width: 100%;
  height: 100%;
}
.ql-editor{
  width: 66.6vw;
  min-height: 100px !important;
  max-height: 78vh;
  overflow: hidden;
  overflow-y: scroll;
}