.notes-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 240px;
  z-index: 5;
  color:$white;
  font-weight: 300;
  background-color: $navbar;
  padding: 10px;
  .user-icon {
    font-size: 11pt;
    font-weight: 200;
    padding: 10px;
    margin-left: 10px;
  }
  .notes-navbar-wrapper{
    width: 240px;
    cursor: pointer;
    .item-wrapper {
      padding: 5px;
      padding-left: 10px;
    }
    .new-note {
      box-sizing: border-box;
      font-weight: 400;
      display: flex;
      align-items: center;
      margin: 2px;
      padding: 10px;
    }
      .fa-plus {
        font-size: 12pt;
        color: $white;
        margin-right: 5px;
        background-color: $mainblue;
        border-radius: 50%;
        padding: 8px;
      }
      .fa-plus:hover {
        font-size: 13pt;
      }
    }
}
.fas {
  margin-right: 8px;
  color: $greytext;
}
.middle:hover {
  background-color: $darkgrey;
}
.selected-nav{
  background-color: $darkgrey;
}
