.notes-index-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $softgrey;
  border: 1px solid $border;
  width: 345px;
  min-width: 345px;
  color: $softergrey;
  .notes-index-title{
    font-weight: 500;
    border-bottom: 3px solid $border;
    padding: 20px;
    h1 {
      text-transform: uppercase;
      font-size: 21px;
      margin-bottom: 10px;
    }

  }
  .note-index-items{
    overflow: hidden scroll;
    height: 100%;
  }
  .note-index-item {
    box-sizing: border-box;
    border: 0.5px solid $border;
    border-top-width: 0px;
    border-left-width: 0px;
    height: 120px;
    padding: 10px 10px 10px 20px;
    h3 {
      color: $darkgrey;
      display: inline-block;
      font-weight: 600;
    }
    .item-header{
      display: flex;
      justify-content: space-between;
    }
    .fa-trash-alt:hover{
      font-size: 14pt;
      cursor: pointer;
    }
    .time-since{
      text-transform: uppercase;
      font-weight: 800;
      font-size: 9pt;
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
      .note-index-item:focus,
      .note-index-item:hover {
        background-color: $mainblue;
        color: $white;
        border: 3px solid $selectedborder;
        h3 {
          color: $white;
        }
      }
}